.button {
    border: none;
    border-radius: 2em;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #f47dda;
}

.button.large {
    width: 12em;
    height: 2em;
    font-size: 1.8em;
}

.button.large:hover {
    background-color: #F695E1;
}

.button.large:active {
    background-color: #f8ade8;
}

.button.medium {
    width: 8em;
    height: 2em;
    font-size: 1.8em;
}

.button.medium:hover {
    background-color: #F695E1;
}

.button.medium:active {
    background-color: #f8ade8;
}

.button.small {
    font-size: 1.8em;
    width: 4.8em;
    height: 1.3em;
}

.button.small:hover {
    background-color: #F695E1;
}

.button.small:active {
    background-color: #f8ade8;
}

.button.tiny {
    font-size: 1em;
    width: 4.4em;
    height: 1.3em;
}

.button.tiny:hover {
    background-color: #F695E1;
}

.button.tiny:active {
    background-color: #f8ade8;
}



