.button {
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #f47dda;
}

.button.large {
    width: 40vh;
    height: 7vh;
    font-size: 3.5vh;
}

.button.large:hover {
    background-color: #F695E1;
}

.button.large:active {
    background-color: #f8ade8;
}

.button.medium {
    width: 14vw;
    height: 7vh;
    font-size: 1.8em;
}

.button.medium:hover {
    background-color: #F695E1;
}

.button.medium:active {
    background-color: #f8ade8;
}

.button.small {
    font-size: 4vh;
    width: 10vw;
    height: 7vh;
}

.button.small:hover {
    background-color: #F695E1;
}

.button.small:active {
    background-color: #f8ade8;
}

.button.tiny {
    font-size: 3vh;
    width: 7vw;
    height: 5vh;
}

.button.tiny:hover {
    background-color: #F695E1;
}

.button.tiny:active {
    background-color: #f8ade8;
}

.button.highlighted {
    border: 3px solid red;
}

@media (max-width: 600px) {
    .button.large {
        width: 80vw;
        height: 7vh;
    }

    .button.medium {
        width: 50vw;
        height: 7vh;
        font-size: 1.8em;
    }

    .button.small {
        width: 35vw;
        height: 7vh;
        font-size: 1.8em;
    }

    .button.tiny {
        width: 25vw;
        height: 7vh;
        font-size: 1.8em;
    }
}
