.guess-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.guess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.guess-container h1 {
    font-size: 8vh;
    margin: 0;
    padding: 0;
}

.drawing {
    width: 35em;
    height: 25em;
    border: 0.1em solid black;
}

.guess-item {
    padding: 1vh;
}

@media (max-width: 600px) {
    .drawing {
        max-width: 90vw;
        max-height: 45vh;
    }

    .guess-container {
        text-align: center;
    }

    .guess-container h1 {
        font-size: 5vh;
    }
}