.guess-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.guess-container h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.drawing {
    width: 35em;
    height: 25em;
    border: 0.1em solid black;
}