.home-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.home-container {

}

.img-container {
    position: absolute;
    top: 0;
    right: 0;
}

.button-container {
    padding: 1em;
}

h1 {
    margin: 0;
    padding: 0.5em;
}

.tutorial-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 620px) {
    h1 {
        font-size: 3.5em;
    }
}