/* NewGame.css */

.new-game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.new-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-game-container p {
    padding: 2vh 4vh;
    color: red;
}

h1 {
    margin: 0;
    padding: 4.5vh;
}

.drop-down-container {
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Add this to position the arrow relative to the container */
}

.drop-down {
    width: 25vh;
    font-size: 20px;
}

.drop-down option {
    font-size: 20px;
}

.check-box-container {
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.check-box {
    width: 2.5vh;
    height: 2.5vh;
}

.arrow {
    position: absolute;
    left: -30px; /* Adjust as needed */
    font-size: 24px;
    color: #3498db;
}

@media  screen and (max-width: 950px){
    .painter-container {
        display: none;
    }
}
