.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.input-container {
    padding: 2vh;
}

.help {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-help {
    display: flex;

}

.password-help {
    display: flex;
}

p {
    margin: 0;
    padding: 0.5vh;
}

.error-message {
    color: red;
}