
.page-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.word-input-container {
    padding: 1em;
}